<script src="/js/cellular_automata.js"></script>

<div class="container" id="home">
	<div class="col-sm-12">
		<h1 class="text-center">
			Emerge - Cellular Automata
		</h1>

		<canvas id="cellDisplay"></canvas>

		<%= sample_program %>
	</div>
</div>
